<a href="https://colab.research.google.com/github/anaperez10/AnaliticaIII-Salud/blob/main/Preprocesamiento_Usuarios_DF_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# importar paquetes
import pandas as pd
import numpy as np
from unicodedata import normalize

In [4]:
# conexión con drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
users = pd.read_csv('/content/drive/MyDrive/Salud/RETO_df_usuarios.csv')
users

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4,6,7,9,10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,MES,YEAR,NRODOC,SEXO,FECHA NACIMIENTO,EDAD,DEPARTAMENTO,MUNICIPIO,BARRIO,FECHA INICIO AL PGP,FECHA PRIMERA CLASE FUNCIONAL,PRIMERA CLASE FUNCIONAL,FECHA ÚLTIMA CLASE FUNCIONAL,ÚLTIMA CLASE FUNCIONAL,CICLO_VITAL,QUINQUENIO
0,ABRIL,2017,306221,F,1938-09-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABRIL,2017,306222,F,1974-07-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABRIL,2017,306223,F,1930-08-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABRIL,2017,306224,F,1979-12-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABRIL,2017,306225,M,1943-06-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183906,JUNIO,2022,307482,F,1941-03-26 00:00:00,81.0,ANTIOQUIA,MEDELLIN,NaN,2017-04-01 00:00:00,2017-08-23 00:00:00,CLASE FUNCIONAL 2B,2022-04-22 00:00:00,CLASE FUNCIONAL 2A,Vejez,80-84
183907,JUNIO,2022,313801,F,1999-04-13 00:00:00,23.0,ANTIOQUIA,NaN,NaN,2021-09-02 00:00:00,2021-10-26 00:00:00,CLASE FUNCIONAL 1,2022-01-27 00:00:00,CLASE FUNCIONAL 1,Juventud,20-24
183908,JUNIO,2022,307738,F,1943-09-11 00:00:00,78.0,ANTIOQUIA,MEDELLIN,NaN,2017-04-01 00:00:00,2017-06-14 00:00:00,CLASE FUNCIONAL 2B,2022-01-06 00:00:00,CLASE FUNCIONAL 2A,Vejez,75-79
183909,JUNIO,2022,311656,M,1940-05-26 00:00:00,82.0,ANTIOQUIA,MEDELLIN,NaN,2018-01-01 00:00:00,2018-02-21 00:00:00,CLASE FUNCIONAL 2A,2022-03-17 00:00:00,CLASE FUNCIONAL 2B,Vejez,80-84
183910,JUNIO,2022,309230,M,1957-05-26 00:00:00,65.0,ANTIOQUIA,ENVIGADO,ENVIGADO LA MAGNOLIA,2017-04-01 00:00:00,2018-08-13 00:00:00,CLASE FUNCIONAL 2A,2022-02-09 00:00:00,CLASE FUNCIONAL 2B,Vejez,65-69

In [9]:
#Observar columnas
users.columns

Index(['MES', 'YEAR', 'NRODOC', 'SEXO', 'FECHA NACIMIENTO', 'EDAD',
       'DEPARTAMENTO', 'MUNICIPIO', 'BARRIO', 'FECHA INICIO AL PGP',
       'FECHA PRIMERA CLASE FUNCIONAL', 'PRIMERA CLASE FUNCIONAL',
       'FECHA ÚLTIMA CLASE FUNCIONAL', 'ÚLTIMA CLASE FUNCIONAL', 'CICLO_VITAL',
       'QUINQUENIO'],
      dtype='object')

In [10]:
#Convertir columnas en minúsculas
users.columns= users.columns.str.lower()
users.head(5)

,mes,year,nrodoc,sexo,fecha nacimiento,edad,departamento,municipio,barrio,fecha inicio al pgp,fecha primera clase funcional,primera clase funcional,fecha última clase funcional,última clase funcional,ciclo_vital,quinquenio
0,ABRIL,2017,306221,F,1938-09-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABRIL,2017,306222,F,1974-07-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABRIL,2017,306223,F,1930-08-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABRIL,2017,306224,F,1979-12-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABRIL,2017,306225,M,1943-06-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Renombrar columnas 
users.rename(columns = {'year':'año'},inplace=True)
users.head(3)

,mes,año,nrodoc,sexo,fecha nacimiento,edad,departamento,municipio,barrio,fecha inicio al pgp,fecha primera clase funcional,primera clase funcional,fecha última clase funcional,última clase funcional,ciclo_vital,quinquenio
0,ABRIL,2017,306221,F,1938-09-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABRIL,2017,306222,F,1974-07-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABRIL,2017,306223,F,1930-08-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#Tipo de variables
users.dtypes

mes                               object
año                                int64
nrodoc                             int64
sexo                              object
fecha nacimiento                  object
edad                             float64
departamento                      object
municipio                         object
barrio                            object
fecha inicio al pgp               object
fecha primera clase funcional     object
primera clase funcional           object
fecha última clase funcional      object
última clase funcional            object
ciclo_vital                       object
quinquenio                        object
dtype: object

In [13]:
#Imprimir categorias de las variables
lista = ['mes', 'sexo', 'fecha nacimiento',
       'departamento', 'municipio', 'barrio', 'fecha inicio al pgp',
       'fecha primera clase funcional', 'primera clase funcional',
       'fecha última clase funcional', 'última clase funcional', 'ciclo_vital',
       'quinquenio']
for i in lista:
    print(users[i].value_counts())
    print('------------------------------------')

ABRIL         19049
JUNIO         18679
MAYO          18649
ENERO         14308
OCTUBRE       14294
DICIEMBRE     14293
SEPTIEMBRE    14182
FEBRERO       14158
JULIO         14102
AGOSTO        14077
NOVIEMBRE     14063
MARZO         14057
Name: mes, dtype: int64
------------------------------------
F                                       115303
M                                        68584
CARRERA 51 B 1 33                            1
CL 48  95 55                                 1
CR 49 46 14                                  1
CRR 47 N  41 32                              1
CALLE 80 A 71 A 18                           1
CL 94  74B  16                               1
CALLE 77E   8830                             1
KR 55A 47 16  BR SANTA ANA                   1
KR 92 NRO 46 97                              1
CL 55 80 54                                  1
CALLE 38 SUR N  29 A 54 PISO 2               1
CR 75A   88A   27 BRR ROBLEDO KENEDY         1
CL  40 C  SUR   29 C  31LA FLORIDA           1
CL 31 NRO 44 159                             1
Name: sexo, dtype: int64
------------------------------------
1930-12-31 00:00:00    115
1922-12-31 00:00:00    103
1936-10-15 00:00:00    102
1928-12-31 00:00:00    100
1947-08-07 00:00:00     96
                      ...
1948-01-31 00:00:00      1
1958-07-25 00:00:00      1
1945-10-01 00:00:00      1
1929-09-10 00:00:00      1
1956-02-14 00:00:00      1
Name: fecha nacimiento, Length: 6167, dtype: int64
------------------------------------
ANTIOQUIA    82284
Name: departamento, dtype: int64
------------------------------------
MEDELLIN                 68405
BELLO                     5672
ITAGUI                    3051
ENVIGADO                  1787
SAN ANTONIO DE PRADO       856
SABANETA                   590
SAN CRISTOBAL              344
LA ESTRELLA                279
COPACABANA                 108
SANTA ELENA                 92
SAN FELIX                   36
EL PORVENIR                 18
VEREDA EL TAMBO             18
VEREDA SINDELATO            18
VEREDA LA MARIA             18
VEREDA YARUMALITO           18
VEREDA BOQUERON             18
VEREDA EL POTRERITO         18
SANTA FE DE ANTIOQUIA       18
VEREDA EL LLANO             18
GIRARDOTA                   15
Name: municipio, dtype: int64
------------------------------------
MEDELLIN             14675
MANRIQUE              5293
ARANJUEZ              3571
CASTILLA              3139
BUENOS AIRES          2512
                     ...
BARRIO ALTAVISTA         1
LA CASTELLANA            1
BELLO - CABAÑAS          1
LA GABRIELA BELLO        1
SANTANA                  1
Name: barrio, Length: 727, dtype: int64
------------------------------------
2017-04-01 00:00:00    80871
2020-07-01 00:00:00     4626
2018-12-01 00:00:00     3215
2019-06-05 00:00:00     2994
2018-01-01 00:00:00     2950
2019-08-01 00:00:00     2763
2017-12-01 00:00:00     2627
2018-08-01 00:00:00     2523
2017-10-02 00:00:00     2513
2020-03-01 00:00:00     1963
2018-03-01 00:00:00     1946
2018-06-01 00:00:00     1922
2020-10-01 00:00:00     1885
2017-09-01 00:00:00     1854
2021-10-01 00:00:00     1609
2020-11-01 00:00:00     1247
2019-07-05 00:00:00     1188
2021-09-02 00:00:00     1079
2020-08-01 00:00:00      953
2019-02-27 00:00:00      774
2018-05-01 00:00:00      548
2021-06-01 00:00:00      456
2020-12-01 00:00:00      432
2018-11-01 00:00:00      373
2022-02-03 00:00:00      350
2021-02-02 00:00:00      295
2021-01-07 00:00:00      288
2022-01-06 00:00:00      261
2021-07-01 00:00:00      254
2021-11-03 00:00:00      219
2017-11-01 00:00:00      217
2021-12-03 00:00:00      102
2018-04-01 00:00:00       78
2022-06-01 00:00:00       69
2021-08-03 00:00:00       65
2019-10-04 00:00:00       57
2017-06-01 00:00:00       36
2021-01-06 00:00:00       18
2022-03-18 00:00:00        8
2018-02-09 00:00:00        6
2018-02-06 00:00:00        6
2018-01-05 00:00:00        6
2021-01-01 00:00:00        5
2022-02-04 00:00:00        5
2022-01-13 00:00:00        1
2022-06-02 00:00:00        1
Name: fecha inicio al pgp, dtype: int64
------------------------------------
2017-04-05 00:00:00    749
2017-04-03 00:00:00    725
2017-04-07 00:00:00    711
2017-04-25 00:00:00    659
2017-05-30 00:00:00    656
                      ...
2018-08-14 00:00:00      1
2018-09-12 00:00:00      1
2018-10-18 00:00:00      1
2019-12-04 00:00:00      1
2019-02-24 00:00:00      1
Name: fecha primera clase funcional, Length: 864, dtype: int64
------------------------------------
CLASE FUNCIONAL 2A    16537
CLASE FUNCIONAL 2B    16394
CLASE FUNCIONAL 4      8180
Clase funcional 2B     7398
Clase funcional 2A     6830
clase funcional 2b     5883
Clase funcional 4      5794
clase funcional 2a     5727
CLASE FUNCIONAL 3      5529
clase funcional 4      3738
CLASE FUNCIONAL 1      1927
clase funcional 3      1593
Sin Clasificar         1393
Clase funcional 3      1351
Clase funcional 1       533
clase funcional 1       518
Sin clasificar          316
Name: primera clase funcional, dtype: int64
------------------------------------
2021-10-28 00:00:00    394
2021-10-27 00:00:00    374
2020-01-20 00:00:00    365
2020-01-13 00:00:00    359
2021-08-23 00:00:00    358
                      ...
2018-09-03 00:00:00      1
2018-02-01 00:00:00      1
2020-09-03 00:00:00      1
2020-04-17 00:00:00      1
2020-03-23 00:00:00      1
Name: fecha última clase funcional, Length: 1180, dtype: int64
------------------------------------
CLASE FUNCIONAL 2A    28462
CLASE FUNCIONAL 2B    23850
Clase funcional 2A    21800
CLASE FUNCIONAL 4     14993
Clase funcional 4     14283
Clase funcional 2B    13103
CLASE FUNCIONAL 3      5556
Clase funcional 3      1855
CLASE FUNCIONAL 1      1667
Sin Clasificar         1393
Clase funcional 1       671
Sin clasificar          284
SIN CLASIFICAR          192
Name: última clase funcional, dtype: int64
------------------------------------
Vejez       130595
Adultez      17542
Juventud      1618
Name: ciclo_vital, dtype: int64
------------------------------------
75-79     24956
70-74     23335
80-84     22711
65-69     18600
85-89     16554
60-64     12720
>90       11719
55-59      7855
50-54      4432
45-49      2107
25-29      1102
40-44      1095
35-39       939
30-34       927
20-24       678
15-19        25
Name: quinquenio, dtype: int64
------------------------------------

In [14]:
#Aplicar funciones para homologar a nivel general.
lista = ['mes', 'sexo', 'fecha nacimiento',
       'departamento', 'municipio', 'barrio', 'fecha inicio al pgp',
       'fecha primera clase funcional', 'primera clase funcional',
       'fecha última clase funcional', 'última clase funcional', 'ciclo_vital',
       'quinquenio']
for i in lista:
    users[i] = users[i].str.lower() #minuscula
    users[i] = users[i].str.strip() #espacios
    users[i] = users[i].apply(lambda x: normalize("NFKD", x).encode("ascii", "ignore").decode("ascii") if pd.notnull(x) else x)

In [15]:
#Seleccionar solo los datos de femenino y masculino
users1 = users[(users['sexo']=='f') | (users['sexo']=='m')]
users1['sexo'].value_counts()

f    115303
m     68584
Name: sexo, dtype: int64

In [17]:
#Modificar formato fecha
#'fecha última clase funcional'
users1['fecha última clase funcional'] = users1['fecha última clase funcional'].apply(lambda x: str(x)[0:10]) 
users1['fecha última clase funcional'] = pd.to_datetime(users1['fecha última clase funcional'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [22]:
#Modificar formato fecha
#'fecha primera clase funcional'
users1['fecha primera clase funcional'] = users1['fecha primera clase funcional'].apply(lambda x: str(x)[0:10]) 
users1['fecha primera clase funcional'] = pd.to_datetime(users1['fecha primera clase funcional'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

ValueError: ignored

In [19]:
#Modificar formato fecha
#'fecha inicio al pgp'
users1['fecha inicio al pgp'] = users1['fecha inicio al pgp'].apply(lambda x: str(x)[0:10]) 
users1['fecha inicio al pgp'] = pd.to_datetime(users1['fecha inicio al pgp'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [20]:
#Modificar formato fecha
#'fecha nacimiento'
users1['fecha nacimiento'] = users1['fecha nacimiento'].apply(lambda x: str(x)[0:10]) 
users1['fecha nacimiento'] = pd.to_datetime(users1['fecha nacimiento'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [21]:
#Observar el tipo de los datos despues de pasar todas las fechas a formato fecha
users1.dtypes

mes                                      object
año                                       int64
nrodoc                                    int64
sexo                                     object
fecha nacimiento                 datetime64[ns]
edad                                    float64
departamento                             object
municipio                                object
barrio                                   object
fecha inicio al pgp              datetime64[ns]
fecha primera clase funcional            object
primera clase funcional                  object
fecha última clase funcional     datetime64[ns]
última clase funcional                   object
ciclo_vital                              object
quinquenio                               object
dtype: object

In [63]:
users2 = users1[['mes', 'año', 'nrodoc', 'sexo', 'edad',
                 'municipio', 'fecha inicio al pgp','fecha primera clase funcional',
                 'primera clase funcional','fecha última clase funcional', 
                 'última clase funcional','ciclo_vital','quinquenio']]
users2.head(5)

,mes,año,nrodoc,sexo,edad,municipio,fecha inicio al pgp,fecha primera clase funcional,primera clase funcional,fecha última clase funcional,última clase funcional,ciclo_vital,quinquenio
0,abril,2017,306221,f,NaN,NaN,NaT,nan,NaN,NaT,NaN,NaN,NaN
1,abril,2017,306222,f,NaN,NaN,NaT,nan,NaN,NaT,NaN,NaN,NaN
2,abril,2017,306223,f,NaN,NaN,NaT,nan,NaN,NaT,NaN,NaN,NaN
3,abril,2017,306224,f,NaN,NaN,NaT,nan,NaN,NaT,NaN,NaN,NaN
4,abril,2017,306225,m,NaN,NaN,NaT,nan,NaN,NaT,NaN,NaN,NaN

In [64]:
#Pasar los nulos de usuarios a sin información
users2['municipio'] = users2['municipio'].replace(np.nan,'sin información')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [65]:
#Eliminar datos que no incluye la edad 
users2 = users2.dropna(subset=['edad'])

In [66]:
#Convertir la edad en entero
users2['edad'] = users2['edad'] = users2['edad'].astype(int)

In [67]:
#Verificar datos nulos
users2.isnull().sum()

mes                                  0
año                                  0
nrodoc                               0
sexo                                 0
edad                                 0
municipio                            0
fecha inicio al pgp              24097
fecha primera clase funcional        0
primera clase funcional          60114
fecha última clase funcional     61770
última clase funcional           24530
ciclo_vital                          0
quinquenio                           0
dtype: int64